@import "src/variables";

.contact_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins, sans-serif;

  .contact_header{
    width: 80%;
    height: 30vh;
    text-align: center;
    padding: 20px;
    h3{
      font-size: 2rem;
      font-weight: 600;
    }
  }


  .contact_content{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50vh;
    gap: 5px;
    border-radius: 5px;
    overflow: hidden;
    .contact_info_line{
      background: $dark-blue;
      color: #fff;
      padding: 20px;
    }
    form{
      border: solid 1px lightgray;
      //box-shadow: 0 0 5px rgba(0,0,0, .4);
    }
  }
}