@import "src/variables";

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}
.hero h1{
  font-family: google-sans, serif;
  font-size: 80px;
  line-height: 80px;
  color: $dark-blue;
}

.hero h1 span{
  color: $green;

}

.hero p{
  font-family: Poppins, sans-serif;
  font-size: 26px;
}
.hero button{
  background: $dark-blue;
  font-size: 20px;
  color: #fff;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
}

.hero .left_side{
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.socials{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}
.socials div{
  height: 2px;
  width: 80px;
  background: #191919;
}