@import "src/variables";

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 56px;
    font-size: 14px;
    list-style: none;
    font-family: Poppins, serif;
}
nav ul li{
    position: relative;
    display: flex;

}
nav ul .active{
    color: $green;
}